@media(min-width: 992px){
	.col-lg-4
	{	
		float:left;
		border: 1px solid black;
		background-color: gray;
	}
	.col-lg-4
	{
		width: 33%;
	}
}
@media(min-width: 768px) and (max-width: 992px){
	.col-md-6{
		float:left;
		border: 1px solid black;
		background-color: gray;
	}
	.col-md-6{
		width: 49%;
	}
}
@media(max-width: 767px){
	.col-sm-12{
		float: left;
		border: 1px solid black;
		background-color: gray;
	}
	.col-sm-12{
		width: 100%;
	}
}
*{
	box-sizing: border-box;
	margin: 1px;
	padding: 0px;
}
.heading{
	margin: 50px;
	text-align: center;
	font-size: 1.75em;
}
p {
	margin:30px;
	clear: right;
	font-size: 1em;
}
.box2{
	float: right;
	border: 1px solid black;
	position: relative;
	top: -1px;
	right: -1px;
	padding: 10px;
	margin: -1px;
	width: 30%;
	text-align: center;
}
#b1 div{
	background-color: pink;
	font-size: 1.25em;
}
#b2 div{
	background-color: red;
	color: white;
	font-size: 1.25em;
}
#b3 div{
	background-color: yellow;
	font-size: 1.25em;
}
